@charset "UTF-8";
:root {
  --clr-base: #ffffff;
  --clr-att: #ffffff;
  --clr-att-hover: #FF8008;
  --fsize: 16px;
  --lhsize: 1.25;
  --mbsize: 1.25em;
  --min: 360px;
  --max: 1370px;
  --paddingContainer: 15px;
  --filter-dark: brightness(0) grayscale(1);
  --filter-white: brightness(0) invert(1);
  font-size: 10px;
}
.sl-wrap:not(.swiper-slide) ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #0B0B12;
  font-size: var(--fsize);
  line-height: var(--lhsize);
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: var(--mbsize);
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email,
.link-location {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: inherit;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-phone.link-text,
.link-email.link-text,
.link-location.link-text {
  display: inline;
  padding: 0;
}
.link-phone.link-text:before,
.link-email.link-text:before,
.link-location.link-text:before {
  display: none;
}
.link-email:before {
  background-image: url(../img/icons/link-email.svg);
}
.link-location {
  white-space: normal;
}
.link-location:before {
  background-image: url(../img/icons/link-location.svg);
}
a.link-phone:hover,
a.link-email:hover,
a.link-location:hover {
  color: var(--clr-att);
}
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  font-weight: bold;
  margin: 1em 0;
}
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
h1:last-child,
.h1-title:last-child,
h2:last-child,
.h2-title:last-child,
h3:last-child,
.h3-title:last-child,
h4:last-child,
.h4-title:last-child,
h5:last-child,
.h5-title:last-child,
h6:last-child,
.h6-title:last-child {
  margin-bottom: 0;
}
.h1-title,
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.125;
  font-weight: 800;
  letter-spacing: normal;
}
.h2-title,
h2 {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: bold;
}
.h3-title,
h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.text-large,
.title-large {
  font-size: 1.125em;
  line-height: 1.375;
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-center,
.title-center {
  text-align: center;
}
.link-att {
  background: linear-gradient(90deg, #8968EA 0%, #9881EF 50.17%, #CA88F3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--clr-base);
}
.link-att:hover {
  color: var(--clr-base);
  opacity: 0.7;
}
.link-att.color-second {
  background: linear-gradient(90deg, #FF8008 0%, #FFC837 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1399px) {
  :root {
    font-size: 9.5px;
  }
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
  }
}
@media (min-width: 1400px) {
  :root {
    --paddingContainer: 40px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scrollbar-gutter: stable;
}
html.with-fancybox body.hide-scrollbar {
  overflow: inherit !important;
  overflow-x: hidden !important;
  margin-right: 0 !important;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.header .btn-menu,
.footer .btn-menu {
  display: inline-block;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  padding: 0 21px;
  padding: 0 2.1rem;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.75px;
  color: #9E9E9E;
  text-transform: uppercase;
  transition: all ease 0.2s;
}
.header .btn-menu:hover,
.footer .btn-menu:hover,
.header .btn-menu.active,
.footer .btn-menu.active {
  color: var(--clr-base);
}
.header .btn-menu:hover:before,
.footer .btn-menu:hover:before,
.header .btn-menu.active:before,
.footer .btn-menu.active:before {
  opacity: 1;
}
.header .btn-menu:before,
.footer .btn-menu:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 21px;
  left: 2.1rem;
  right: 21px;
  right: 2.1rem;
  height: 2px;
  border-radius: 1px;
  transition: all ease 0.2s;
  opacity: 0;
  background: linear-gradient(to right, #FF8008, #FFC837);
}
.footer {
  background: #0B0B12;
  padding: 70px 0 60px 0;
  padding: 7rem 0 6rem 0;
  font-size: 13px;
  line-height: 1.23076923;
  color: #ffffff50;
}
.footer .inner-wrap {
  display: -ms-flexbox;
  display: flex;
}
.footer .info-inner-wrap {
  width: 35%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 30px 0 0;
  padding: 0 3rem 0 0;
  -ms-flex-order: 1;
      order: 1;
}
.footer .menu-inner-wrap {
  -ms-flex-order: 2;
      order: 2;
  -ms-flex: 1;
      flex: 1;
  padding: 8px 30px 0 0;
  padding: 8px 3rem 0 0;
}
.footer .menu-inner-wrap .menu {
  display: block;
  columns: 2;
  column-gap: 3rem;
}
.footer .menu-inner-wrap .menu li {
  margin-bottom: 12px;
  break-inside: avoid-column;
}
.footer .menu-inner-wrap .btn-menu {
  padding: 0;
}
.footer .menu-inner-wrap .btn-menu:before {
  left: 0;
  right: 0;
}
.footer .actions-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 3;
      order: 3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer .action-info {
  margin-top: 20px;
  display: block;
  max-width: 19.61538462em;
}
.footer .action-button {
  width: 310px;
  width: 31rem;
  padding-right: 30px;
  padding-right: 3rem;
}
.footer .action-qr {
  width: 100px;
}
.footer .logo-wrap {
  margin-bottom: 35px;
  margin-bottom: 3.5rem;
}
.footer .logo {
  font-size: 25px;
}
.wrap-main .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  z-index: 99;
  padding: 40px 0 40px 0;
}
.header .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .logo-inner-wrap {
  -ms-flex-order: 1;
      order: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .menu-inner-wrap {
  -ms-flex-order: 2;
      order: 2;
  -ms-flex: 1;
      flex: 1;
  padding: 0 30px;
  padding: 0 3rem;
}
.header .actions-inner-wrap {
  -ms-flex-order: 3;
      order: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .action-wrap {
  padding-left: 20px;
  padding-left: 2rem;
}
.header .action-wrap:first-child {
  padding-left: 0;
}
.header .btn-action-ico {
  width: 40px;
  height: 40px;
}
.popup-menu-wrap .btn-popup {
  display: none;
}
.logo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
  color: var(--clr-base);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.logo:hover {
  text-decoration: none;
  color: var(--clr-base);
}
.logo .logo-ext {
  display: inline;
  font-size: 0.71428571em;
  font-weight: 400;
  letter-spacing: normal;
  background: var(--Linear, linear-gradient(90deg, #FF8008 0%, #FFC837 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1199px) {
  .footer .info-inner-wrap {
    width: 31%;
  }
  .footer .logo {
    font-size: 20px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .logo {
    font-size: 20px;
  }
  .header .btn-action-ico.button-soc {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
  .footer .menu-inner-wrap {
    padding-top: 0;
  }
  .footer .actions-inner-wrap {
    display: block;
  }
  .footer .action-button {
    padding-right: 0;
  }
  .footer .action-qr {
    margin-top: 3rem;
  }
  .footer .logo {
    font-size: 16px;
  }
  .header {
    padding: 15px 0;
  }
  .header .inner-wrap {
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-right: 60px;
  }
  .header .menu-inner-wrap {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
    padding: 0;
  }
  .header .logo {
    font-size: 18px;
  }
  .popup-menu-wrap .btn-popup {
    display: block;
  }
  .popup-menu-wrap .popup-content-block {
    display: none;
    width: 240px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 20;
    border-radius: 10px;
    background: #060606;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
  }
  .popup-menu-wrap .btn-menu {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .inner-wrap {
    display: block;
  }
  .footer .info-inner-wrap {
    width: 100%;
    padding-right: 0;
    margin-bottom: 4rem;
  }
  .footer .actions-inner-wrap {
    width: 100%;
  }
  .footer .action-qr {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .action-button {
    width: 100%;
  }
  .footer .action-info {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .menu-inner-wrap {
    padding: 0;
    margin-bottom: 25px;
  }
  .footer .menu-inner-wrap .menu {
    display: block;
    margin: 0;
    columns: 1;
    column-gap: 0;
  }
}
@media (max-width: 639px) {
  .header .action-wrap {
    height: 36px;
  }
  .header .action-wrap .btn.button-small {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #ffffff10;
    overflow: hidden;
  }
  .header .action-wrap .btn.button-small:hover {
    border-color: #fff;
  }
  .header .action-wrap .btn.button-small:before {
    background: url(../img/icons/user.svg) center no-repeat;
    background-size: 24px auto;
    box-shadow: none;
  }
  .header .action-wrap .btn.button-small:after {
    display: none;
  }
  .header .action-wrap .btn.button-small .button-title {
    display: none;
  }
}
@media (max-width: 479px) {
  .header .inner-wrap {
    padding-right: 50px;
  }
  .header .menu-inner-wrap {
    right: 5px;
  }
  .header .action-wrap {
    padding-left: 10px;
  }
  .header .logo {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .popup-menu-wrap .menu {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -2.1rem;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popup-menu-wrap .menu li {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .popup-menu-wrap .menu {
    margin: 0 -15px;
  }
  .popup-menu-wrap .btn-menu {
    font-size: 14px;
    padding: 0 15px;
  }
  .popup-menu-wrap .btn-menu:before {
    left: 15px;
    right: 15px;
  }
}
@media (min-width: 1200px) {
  .wrap-inner .header {
    padding-bottom: 20px;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-tarif {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(30, 19, 43, 0.2);
  line-height: 1.38888889;
  font-weight: bold;
  color: var(--clr-base);
  text-transform: uppercase;
  padding: 12px 24px 12px 65px;
  padding: 12px 24px 12px 6.5rem;
}
.item-tile-tarif .tile-title {
  display: block;
  -ms-flex: 1;
      flex: 1;
  padding-right: 10px;
  font-size: 1em;
}
.item-tile-tarif .tile-value {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.125em;
}
.item-tile-tarif:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/icons/check.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 35px;
  left: 3.5rem;
  margin: -10px 0 0 -10px;
}
.item-tile-step {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  position: relative;
  padding-left: 90px;
  padding-left: 9rem;
  padding-top: 10px;
  padding-top: 1rem;
}
.item-tile-step .tile-number {
  display: block;
  width: 90px;
  width: 9rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  font-size: 10rem;
  line-height: 1;
  font-weight: bold;
  background: var(--Linear, linear-gradient(90deg, #8968EA 0%, #9881EF 50.17%, #CA88F3 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.item-tile-step .tile-title {
  color: var(--clr-base);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}
.item-tile-info {
  display: block;
  position: relative;
  text-align: center;
  color: var(--clr-base);
  padding-top: 20px;
  padding-bottom: 20px;
}
.item-tile-info .tile-ico {
  width: 60px;
  width: 6rem;
  height: 60px;
  height: 6rem;
  margin: 0 auto;
}
.item-tile-info .tile-title {
  display: block;
  margin: 30px auto 0 auto;
  font-weight: bold;
  max-width: 10em;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
.elm-sticker,
.tile-sticker {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #000;
  height: 27px;
  line-height: 27px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 1023px) {
  .item-tile-info {
    font-size: 15px;
  }
  .item-tile-step {
    padding-left: 6rem;
  }
  .item-tile-step .tile-number {
    font-size: 6rem;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.info-terms-box {
  padding: 80px 0 0 0;
  padding: 8rem 0 0 0;
  font-size: 1.125em;
  line-height: 1.22222222;
  position: relative;
  z-index: 2;
}
.info-terms-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100dvw;
  min-width: var(--min);
  transform: translateX(-50%);
  background: #020304 url(../img/main/terms.jpg) center no-repeat;
  background-size: auto 100%;
}
.info-terms-box:after {
  content: "";
  display: block;
  width: 230px;
  height: 58px;
  position: absolute;
  background: url(../img/icons/arrow-round.png) center no-repeat;
  background-size: 100% auto;
  top: 0;
  left: 50%;
  margin-left: -115px;
}
.info-terms-box .title-inner-wrap {
  margin-bottom: 25px;
}
.info-terms-box .box-inner-wrap {
  display: -ms-flexbox;
  display: flex;
}
.info-terms-box .main-inner-wrap {
  width: 50%;
  padding: 0 30px 0 0;
  padding: 0 3rem 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.info-terms-box .main-inner-wrap .elm-photo {
  margin: -17% auto 0 auto;
  max-width: 640px;
}
.info-terms-box .main-inner-wrap p {
  max-width: 33.05555556em;
}
.info-terms-box .info-inner-wrap {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 10px;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}
.info-terms-box .info-inner-wrap .list {
  font-size: 16px;
  max-width: 36.875em;
  color: rgba(255, 255, 255, 0.7);
}
.info-terms-box .info-inner-wrap p {
  max-width: 33.88888889em;
}
.info-terms-box .h3-title,
.info-terms-box h3 {
  color: #fff;
}
.info-terms-box ul,
.info-terms-box p {
  margin-bottom: 37px;
  margin-bottom: 3.7rem;
}
.info-terms-box .list .h3-title {
  position: relative;
}
.info-terms-box .list .h3-title:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/arrow-check.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: -44px;
  margin-top: -12px;
}
.info-terms-box .list li {
  padding-left: 44px;
  position: relative;
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
.info-terms-box .list li:last-child {
  margin-bottom: 0;
}
.info-tarifs-box {
  display: block;
  position: relative;
  padding: 80px 0 70px 0;
  padding: 8rem 0 7rem 0;
}
.info-tarifs-box .title-inner-wrap {
  margin: 0;
}
.info-tarifs-box .box-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.info-tarifs-box .info-inner-wrap {
  width: 56%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.info-tarifs-box .photo-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  padding: 0 30px;
}
.info-tarifs-box .photo-inner-wrap .elm-photo {
  max-width: 486px;
  max-width: 48.6rem;
  margin: -13% auto;
}
.info-tarifs-box .list {
  max-width: 630px;
}
.info-tarifs-box .list li {
  margin-bottom: 5px;
}
.info-tarifs-box .list li:last-child {
  margin-bottom: 0;
}
.tiles-steps-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
  margin: 0;
  padding: 100px 0;
  padding: 10rem 0;
}
.tiles-steps-box .items-inner-wrap {
  display: block;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tiles-steps-box .items-wrap {
  margin: 0 -20px -40px -20px;
  margin: 0 -2rem -4rem -2rem;
}
.tiles-steps-box .item-wrap {
  width: 33.33%;
  padding: 0 20px;
  padding: 0 2rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
.top-outer-box {
  position: relative;
  z-index: 2;
  display: block;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #030404;
}
.top-outer-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100dvw;
  min-width: var(--min);
  transform: translateX(-50%);
  background: #030404 url(../img/main/light.jpg) center top no-repeat;
  background-size: auto 100%;
  z-index: -2;
}
.main-slider-box {
  margin-bottom: 65px;
  margin-bottom: 6.5rem;
  margin-top: 120px;
  padding-top: 30px;
  position: relative;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
}
.main-slider-box .sl-wrap .slider-action-wrap {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin: 0;
}
.main-slider-box .sl-wrap .slider-title-wrap {
  position: relative;
  z-index: 3;
}
.main-slider-box .items-wrap {
  margin: 0 -10px 50px -10px;
  margin: 0 -10px 5rem -10px;
  -ms-flex-pack: center;
      justify-content: center;
}
.main-slider-box .item-wrap {
  width: 16.66%;
  padding: 0 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}
.main-slider-box:after {
  content: "";
  display: block;
  width: 30px;
  width: 3rem;
  height: 30px;
  height: 3rem;
  position: absolute;
  background: url(../img/icons/arrow-down.svg) center no-repeat;
  background-size: 100% auto;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  margin-left: -1.5rem;
  margin-top: 70px;
  margin-top: 7rem;
}
.main-slider-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1290px;
  margin-left: -645px;
  background: url(../img/main/main.png) center no-repeat;
  background-size: 100% auto;
  z-index: -1;
}
.main-slider-box .sl-title-wrap {
  margin-bottom: 43px;
  margin-bottom: 4.3rem;
  min-height: 196px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  text-align: center;
}
.main-slider-box .sl-title-wrap .sl-title {
  margin-bottom: 16px;
}
.main-slider-box .sl-title-wrap .sl-title-info {
  display: block;
  margin: 0 auto;
  line-height: 1;
  font-weight: 400;
  background: linear-gradient(90deg, #FF8008 0%, #FFC837 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 15.65625em;
}
.main-slider-box .sl-box-wrap {
  margin: 0 auto 70px auto;
  margin: 0 auto 7rem auto;
  width: 854px;
  width: 85.4rem;
  max-width: 100%;
  background: rgba(11, 11, 18, 0.75);
  padding: 38px;
  padding: 3.8rem;
  position: relative;
  z-index: 2;
}
.main-slider-box .sl-box-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='854' height='12' viewBox='0 0 854 12' fill='none'%3E%3Cpath d='M20 12H834L854 0H0L20 12Z' fill='%230B0B12' fill-opacity='0.95'/%3E%3C/svg%3E");
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
.main-slider-box .sl-box-wrap .sl-title {
  font-size: 18px;
  line-height: 1.22222222;
  text-transform: none;
  margin-bottom: 28px;
  margin-bottom: 2.8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 38.88888889em;
  text-align: center;
}
.main-slider-box .sl-box-wrap .list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -10px;
  margin: 0 -1rem;
}
.main-slider-box .sl-box-wrap .list li {
  padding: 0 10px;
  padding: 0 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main-slider-box .slider-title-wrap {
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 6rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  min-height: 155px;
}
.main-slider-box .slider-wrap {
  margin: 0 -10px;
}
.main-slider-box .sl-wrap {
  padding: 0 10px 10px 10px;
  min-height: 280px;
}
.main-slider-box .slider-wrap {
  position: relative;
}
.main-slider-box .slider-action-wrap {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 125px;
}
.main-slider-box .slider-action-wrap .btn {
  min-width: 300px;
  min-width: 30rem;
}
.main-slider-box .slider-pagination {
  margin-top: 70px;
  margin-top: 7rem;
}
.main-slider-box .h1-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 23.125em;
}
.form-box {
  margin: 0 auto -80px auto;
  max-width: 396px;
}
.form-box .frm-row,
.form-box .frm-row-submit {
  margin: 0 -5px;
}
.form-box .frm-row-submit {
  padding-top: 20px;
}
.form-box .frm-field {
  padding: 0 5px;
  width: 100%;
  margin-bottom: 10px;
}
.form-box .field-button {
  margin-bottom: 22px;
}
.form-box .field-button:last-child {
  margin-bottom: 0;
}
.form-box .field-button .btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  padding: 0 10px;
}
.form-box .field-info {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff50;
}
.form-box .field-info a:not(:hover) {
  color: inherit;
}
.form-box .field-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
.form-box .field-link {
  display: block;
  position: relative;
}
.title-box {
  text-align: center;
  margin-bottom: 32px;
}
.breadcrumbs-box {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 26px;
  position: relative;
}
.breadcrumbs-box .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -24px 0 0;
}
.breadcrumbs-box .menu li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 24px 0 0;
  max-width: 100%;
}
.breadcrumbs-box .menu li:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/arrow-bread.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  right: 0px;
  margin-top: -12px;
}
.breadcrumbs-box .menu li:last-child:after {
  display: none;
}
.breadcrumbs-box a {
  color: inherit;
}
.breadcrumbs-box a:hover {
  color: var(--clr-base);
}
.breadcrumbs-box .link-home {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.breadcrumbs-box .link-home:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/home.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}
@media (max-width: 1369px) {
  .main-slider-box .item-wrap {
    width: 25%;
  }
  .tiles-steps-box .items-wrap {
    margin-bottom: -3rem;
  }
  .tiles-steps-box .item-wrap {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1199px) {
  .info-tarifs-box .title-inner-wrap {
    margin-bottom: 24px;
  }
  .info-tarifs-box .photo-inner-wrap .elm-photo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-slider-box {
    margin-top: 60px;
  }
}
@media (max-width: 1023px) {
  .main-slider-box .item-wrap {
    width: 33.33%;
  }
  .tiles-steps-box .items-wrap {
    margin: 0 -10px -30px -10px;
  }
  .tiles-steps-box .item-wrap {
    padding: 0 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .info-terms-box .box-inner-wrap {
    display: block;
  }
  .info-terms-box .main-inner-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .info-terms-box .main-inner-wrap p {
    max-width: 100%;
  }
  .info-terms-box .info-inner-wrap {
    width: 100%;
    padding-left: 0;
  }
  .info-terms-box .info-inner-wrap .list,
  .info-terms-box .info-inner-wrap p {
    max-width: 100%;
  }
  .info-tarifs-box .box-inner-wrap {
    display: block;
  }
  .info-tarifs-box .info-inner-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .info-tarifs-box .photo-inner-wrap {
    width: 100%;
    padding: 0;
  }
  .info-tarifs-box .photo-inner-wrap .elm-photo {
    margin: -13% auto;
  }
  .info-tarifs-box .list {
    max-width: 100%;
  }
  .tiles-steps-box .item-wrap {
    width: 50%;
  }
}
@media (max-width: 479px) {
  .main-slider-box .item-wrap {
    width: 50%;
  }
  .tiles-steps-box .item-wrap {
    width: 100%;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
[placeholder]::-webkit-input-placeholder {
  color: var(--clr-base);
}
[placeholder]:-moz-placeholder {
  color: var(--clr-base);
}
[placeholder]::-moz-placeholder {
  color: var(--clr-base);
}
[placeholder]:-ms-input-placeholder {
  color: var(--clr-base);
}
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
  height: 50px;
  border-radius: 25px;
  background: #ffffff05;
  border: 1px solid #ffffff05;
  padding: 0 10px 0 24px;
  font-size: 16px;
  color: var(--clr-base);
  transition: all ease 0.2s;
}
.form-input:hover,
.form-input:focus {
  background: #ffffff10;
}
select.form-input {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 20px center;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
  cursor: pointer;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
.btn {
  height: 48px;
  padding: 0 30px;
  border: none;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--clr-base);
  letter-spacing: 0.7px;
  overflow: visible;
}
.btn.button-main {
  height: 68px;
  padding: 0 40px;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.btn.button-main:before,
.btn.button-main:after {
  border-radius: 34px;
}
.btn.button-small {
  height: 40px;
  padding: 0 20px;
  font-size: 12px;
  letter-spacing: 0.6px;
}
.btn.button-small:before,
.btn.button-small:after {
  box-shadow: 0px 1px 0px #FFF;
  border-radius: 20px;
}
.btn.button-small:active:before,
.btn.button-small:active:after {
  box-shadow: 0px 2px 0px #FFF;
}
.btn:before,
.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #FF8008 0%, #FFC837 100%);
  box-shadow: 0px 2px 0px #FFF;
  transition: all ease 0.2s;
  border-radius: 24px;
}
.btn:after {
  opacity: 0;
  background: linear-gradient(90deg, #FFC837 0%, #FF8008 100%);
}
.btn .button-title,
.btn .button-ico {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: var(--clr-base);
}
.btn:hover:after {
  opacity: 1;
}
.btn:active:before,
.btn:active:after {
  box-shadow: 0px 3px 0px #FFF;
}
.btn.button-second:before {
  background: linear-gradient(90deg, #8968EA 0%, #9881EF 50.17%, #CA88F3 100%);
}
.btn.button-second:after {
  background: linear-gradient(90deg, #CA88F3 0%, #9881EF 49.83%, #8968EA 100%);
}
.btn.button-clear {
  width: auto;
  height: auto;
  line-height: 24px;
  color: inherit;
  white-space: normal;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  min-width: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-weight: inherit;
}
.btn.button-clear:hover {
  border: none;
  background: none;
  color: var(--clr-att);
}
.btn.button-clear .button-ico {
  width: 20px;
  height: 20px;
  filter: none;
}
.btn.button-border:not(:hover) {
  background-color: transparent;
  color: #231f20;
}
.btn.button-border:hover,
.btn.button-border.active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.btn.button-border:hover .button-ico,
.btn.button-border.active .button-ico {
  filter: brightness(0) invert(1);
}
.btn .button-ico {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  transition: all ease 0.2s;
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn .button-active-add .button-title:before,
.btn .button-active-toggle .button-title:before {
  content: attr(data-title);
}
.btn .button-active-add .button-ico-active,
.btn .button-active-toggle .button-ico-active {
  display: none;
}
.btn .button-active-add.active .button-title:before,
.btn .button-active-toggle.active .button-title:before {
  content: attr(data-title-active);
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico {
  display: none;
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico-active,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico-active {
  display: block;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.png);
}
.btn-action-ico.ico-arrow.swiper-button-disabled {
  opacity: 0.5;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 20px;
  height: 16px;
  border-top: 2px solid var(--clr-base);
  border-bottom: 2px solid var(--clr-base);
  margin: -8px 0 0 -10px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 2px;
  margin-top: -1px;
  border-top: none;
}
.btn-action-ico.ico-menu.active:after {
  height: 2px;
  margin-top: -1px;
  border-top: none;
  transform: rotate(-45deg);
}
.btn-action-ico.ico-menu.active:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
.btn-action-ico.button-soc {
  width: 50px;
  width: 5rem;
  height: 50px;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #ffffff10;
}
.btn-action-ico.button-soc:hover {
  border: 1px solid #ffffff;
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-active-close:after,
.btn-action-ico.button-active-toggle:after {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:before,
.btn-action-ico.button-active-toggle.active:before {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:after,
.btn-action-ico.button-active-toggle.active:after {
  opacity: 1;
}
.btn-action-ico.button-active-close:after {
  background-image: url(../img/icons/close.svg);
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
@media (max-width: 1199px) {
  .btn {
    height: 40px;
    letter-spacing: 0.6px;
    padding: 0 30px;
  }
  .btn.button-main {
    height: 48px;
    padding: 0 30px;
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .btn.button-small {
    height: 36px;
    padding: 0 18px;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}
@media (max-width: 1023px) {
  .btn {
    height: 40px;
    letter-spacing: 0.6px;
    padding: 0 24px;
  }
  .btn.button-main {
    height: 44px;
  }
}
@media (max-width: 639px) {
  .btn.button-main {
    font-size: 12px;
  }
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
.frm-select label:after {
  opacity: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/chk.svg) center / 24px auto no-repeat;
  opacity: 0;
}
.frm-select a {
  color: inherit;
}
.frm-select a:hover {
  color: var(--clr-att);
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.items-wrap,
.tile-items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.item-wrap,
.tile-item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 

add to head box

<style>
	.tile-many-lines, .text-many-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>

 */
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.sl-wrap.swiper-slide {
  height: auto;
}
.swiper,
.swiper-wrapper {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: auto;
  bottom: auto;
}
.slider-pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -10px 0 -10px;
  margin: 0 -1rem 0 -1rem;
  position: relative;
  width: auto;
}
.slider-pagination .swiper-pagination-bullet {
  display: block;
  position: relative;
  overflow: hidden;
  width: 30px;
  width: 3rem;
  height: 5px;
  border-radius: 0;
  background: none;
  border: none;
  opacity: 1;
  transition: all ease 0.2s;
  cursor: pointer;
  padding: 0;
  margin: 0 10px 0 10px !important;
  margin: 0 1rem 0 1rem !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-pagination .swiper-pagination-bullet:before,
.slider-pagination .swiper-pagination-bullet:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.slider-pagination .swiper-pagination-bullet:after {
  border-radius: 5px;
  background: linear-gradient(to right, #FF8008, #FFC837);
  opacity: 0;
  transition: all ease 0.2s;
}
.slider-pagination .swiper-pagination-bullet:hover,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: none;
}
.slider-pagination .swiper-pagination-bullet:hover:after,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  opacity: 1;
}
.slider-pagination .swiper-pagination-bullet:hover:before,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  border-radius: 5px;
}
.is-modern .f-thumbs__slide__button {
  -webkit-clip-path: inherit !important;
          clip-path: inherit !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Futura New';
  src: url('../fonts/FuturaNewBook-Reg.woff2') format('woff2'), url('../fonts/FuturaNewBook-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura New';
  src: url('../fonts/FuturaNewExtraBold-Reg.woff2') format('woff2'), url('../fonts/FuturaNewExtraBold-Reg.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Futura New';
  src: url('../fonts/FuturaNewDemi-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi-Reg.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura New';
  src: url('../fonts/FuturaNewBold-Reg.woff2') format('woff2'), url('../fonts/FuturaNewBold-Reg.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
