
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">Simple-exchange&nbsp;<span class="logo-ext">.com</span></a>
			</div>
			<div class="info-wrap">Сopyright 2024 Simple-exchange .com. Все права защищены.</div>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Правила</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Интеграция</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Тарифы</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Контакты</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap action-button">
				<a href="" class="btn button-small">
					<div class="button-ico">
						<img src="./img/icons/soc-tg-button.svg" alt="">
					</div>
					<div class="button-title">войти через Telegram</div>
				</a>
				<div class="action-info">Отсканируйте QR код мобильным устройством для авторизации или регистрации или нажмите кнопку выше</div>
			</div>
			<div class="action-wrap action-qr">
				<div class="elm-photo">
					<img src="./img/main/qr.png" alt="">
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->