
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">Simple-exchange&nbsp;<span class="logo-ext">.com</span></a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Правила</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Интеграция</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Тарифы</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-small button-lk">
					<div class="button-title">Личный кабинет</div>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->